node_modules
dist
**/build/custom-elements.json

.DS_Store
.env
.cache
coverage
.idea
*.log
.firebase
.vscode
pnpm-local-overrides.json
.qti-components-packs

*storybook.log
storybook-static
hosting/dist
