node_modules
dist
**/build/custom-elements.json

.DS_Store
.astro
.env
.cache
coverage
.idea
*.log
.firebase
.vscode
pnpm-local-overrides.json
.qti-components-packs
.pnpm-store

*storybook.log
storybook-static
hosting/*
apps/editor/public/r

.claude/settings.json
.claude/claude.log
.claude/claude-error.log
.claude/claude-debug.log