node_modules
dist
**/build/custom-elements.json
.yalc
yalc.lock
public/qti-runtime

.DS_Store
.astro
.env
.cache
coverage
.idea
*.log
.firebase
.vscode
.qti-components-packs
.pnpm-store
.vitest-attachments
**/__screenshots__/

*storybook.log
storybook-static
hosting/*
apps/qti-prosekit-app/public/r

.claude/*
.claude/settings.json
.claude/claude.log
.claude/claude-error.log
.claude/claude-debug.log

*.code-workspace