qti-attributes-panel {
  display: block;
}

qti-attributes-panel .qti-attributes-panel {
  width: 20rem;
}

qti-attributes-panel .qti-attributes-content {
  max-block-size: min(24rem, calc(100vh - 12rem));
  overflow: auto;
}
